/* Author: Elizabeth DeGroot
   Description: CSS style sheet to correspond with the SSM (side sub menu) html page. 
*/ 
#nav ul {
	list-style-type: none; 
	padding: 0;
	overflow: hidden;
	background-color: #4d4d4d;
}
#nav li {
	float: left;
} 
#nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
	text-decoration: none;
}
#nav li a:hover {
	background-color: #7accca;
}
#nav li .active {
	background-color: #f90;
}  
#wrapper { 
	background-color: #fefbd8; 
    color: #3a352c 
}  
#header {  
	color: #3a352c;    
	text-align: center; 
	font-size: 20px;   
} 
.sectionHeader {
	background-color: #fce68d;
	text-align: center; 
	font-size: 20px;
}
table {
	margin: 0;
    padding:0;
	width: 100%;
}
td, th { 
  text-align: left;
  padding: 8px;
}
/* Following CSS is only on the About html page */
ul.summary {
	margin: 5;
    padding:5;
	line-height: 1.6;	
}
.colSection {
	background-color: #85adad;
	color: white; 
	padding: 10px;
	width: 100%;
	display: inline-block;
	position: relative;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
}

.active, .colSection:hover {
	background-color: #7accca; 
}

.content {
	max-height: 0;
	overflow: hidden;
	padding: 0 22px;
	background-color: white;
	transition: max-height 0.4s ease-out;
}



