
.nav {
	background:#F7F2D3;
	color: #988b77;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.nav li { float:left; }

.nav li a {
	padding:9px 20px;
	display:block;
	color:#988b77;
	text-decoration:none;
	font:14px arial, verdana, sans-serif;
}

/* Submenu */
.nav ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;

}

.nav li:hover { 
	position:relative; 
	background:#ffc66d;
	color: #ffffff;
}

.nav li:hover ul {
	left:0px;
	top:30px;
	background:#ffc66d;
	padding:0px;
}
.nav li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#ffc66d;
	color: #ffffff;
}

.nav li:hover ul li a:hover { 
	background:#827562; 
	color:#ffffff; }